<?xml version="1.0"?>

<!--EXAMPLE:
roslaunch armadillo armadillo.launch gazebo:=true kinect:=true lidar:=true move_base:=true gmapping:=true world_name:="`rospack find armadillo_gazebo`/worlds/objects_on_table.world"

roslaunch object_detection drive_and_pick.launch 	
-->

<launch>
    
    <node name="find_object_node" pkg="object_detection" type="find_objects_node" output="screen">
        <param name="~object_id" value="1"/>
        <param name="~depth_topic1" value="/kinect2/qhd/points"/>
        <param name="~depth_topic2" value="/intel_d435/depth_registered/points"/>  
        <rosparam file="$(find object_detection)/config/red_object.yaml" command="load"/>
    </node>  
    
    <node name="drive2object_node" pkg="object_detection" type="drive2object_node" output="screen">
        <param name="~object_name" value="can"/>
        <param name="~base_distance_from_object" value="0.55"/>
    </node>  
    
    <node name="object_view" pkg="rqt_image_view" type="rqt_image_view" >
        <remap from="image" to="find_object_node/result" />
    </node>
    
    
    
    <node name="pick_and_place_node" pkg="object_detection" type="pick_and_place_node" output="screen" required="true"> 
        <param name="~object_name" value="can"/> 
        <param name="~MaxAccelerationScalingFactor" value="0.5"/>
        <param name="~MaxVelocityScalingFactor" value="0.8"/>
        <param name="~start_position_name" value="cobra_center"/>
    </node>
    
    
    
    <node name="objects_handler" pkg="object_detection" type="objects_handler" output="screen">
        <param name="~db_path" value=""/>
    </node> 
    
    <node name="drive_and_pick" pkg="object_detection" type="drive_and_pick" output="screen" required="true"/> 
    
</launch>

