<?xml version="1.0"?>


<!--EXAMPLE

roslaunch armadillo armadillo.launch kinect:=true gazebo:=true moveit:=true world_name:="`rospack find armadillo_gazebo`/worlds/objects_on_table.world" x:=0.3 y:=-0.35

roslaunch object_detection pick_and_place.launch  

rosservice call /pick_go "{}"
-->

<launch>
    
    <arg name="start_position" default="cobra_center" /> <!--ninety_deg-->
    
    <node name="pick_and_place_node" pkg="object_detection" type="pick_and_place_node" output="screen" required="true">
        <param name="~start_position_name" value="$(arg start_position)"/>
        <param name="~object_name" value="can"/>
    </node>
    
    
    <node name="find_object_node" pkg="object_detection" type="find_objects_node" output="screen">
        <param name="~object_id" value="1"/>
        <param name="~depth_topic1" value="/kinect2/qhd/points"/>   #/kinect2/qhd/points
        <param name="~depth_topic2" value="/intel_d435/depth_registered/points"/>  
        <rosparam file="$(find object_detection)/config/red_object.yaml" command="load"/>
    </node>
    
    
    <node name="objects_handler" pkg="object_detection" type="objects_handler" output="screen">
        <param name="~db_path" value=""/>
    </node> 
    
    <node name="object_view" pkg="rqt_image_view" type="rqt_image_view" >
        <remap from="image" to="find_object_node/result" />
    </node>
    
</launch>
