SUBSYSTEMS=="usb", ATTRS{product}=="FT232R USB UART", ATTRS{serial}=="A104OFDO", SYMLINK+="armadillo/BMS", MODE="0666" # armadillo bgu
SUBSYSTEMS=="usb", ATTRS{product}=="FT232R USB UART", ATTRS{serial}=="A403IKYO", SYMLINK+="armadillo/BMS", MODE="0666" # armadillo c-robotics