<?xml version="1.0"?>

<launch>

	<node name="armadillo2_hw_node" pkg="armadillo2_hw" type="armadillo2_hw_node" respawn="false" output="screen" />

	<rosparam file="$(find armadillo2_hw)/config/arm_config.yaml" command="load"/>
        
        <rosparam file="$(find armadillo2_hw)/config/dxl_spec_config.yaml" command="load"/>
	
</launch>
