<?xml version="1.0"?>

<launch>
    <!-- rqt_plot is a resource hog, so if you're seeing high CPU usage, don't launch rqt_plot  -->
   <!-- <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
    args="torso/pid_controller/effort torso/pid_controller/state torso/pid_controller/setpoint" />-->

    <!--<node name="rqt_robot_monitor" pkg="rqt_robot_monitor" type="rqt_robot_monitor" />-->
    <!--<node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />-->

    <param name="robot_description" command="$(find xacro)/xacro.py '$(find armadillo2_description)/urdf/armadillo2.xacro'" />

    <node name="armadillo2_hw_node" pkg="armadillo2_hw" type="armadillo2_hw_node" respawn="false" output="screen" />
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
    
    <rosparam file="$(find armadillo2_hw)/config/dxl_joints_config.yaml" command="load"/>
    
    <rosparam file="$(find armadillo2_hw)/config/dxl_spec_config.yaml" command="load"/>

    <rosparam file="$(find armadillo2_hw)/config/battery_config.yaml" command="load"/>
    
    <rosparam file="$(find armadillo2_hw)/config/ricboard_config.yaml" command="load"/>
    
    <rosparam file="$(find armadillo2_hw)/config/roboteq_config.yaml" command="load"/>

</launch>
