<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="armadillo2_robot" description="armadillo2 robot">


  <xacro:include filename="$(find armadillo2_description)/urdf/armadillo2.xacro" />

    <xacro:arg name="kinect2" default="true"/>
    <xacro:arg name="kinect2_hz" default="30.0"/>
    <xacro:arg name="kinect2_hd" default="false"/>
    <xacro:arg name="kinect2_qhd" default="true"/>
    <xacro:arg name="kinect2_sd" default="false"/>
    <xacro:arg name="urf" default="true"/>
    <xacro:arg name="imu" default="true"/>
    <xacro:arg name="gps" default="true"/>
    <xacro:arg name="lidar" default="true"/>
    <xacro:arg name="intel_cam" default="true"/>

    <!-- intel_cam -->
    <xacro:if value="$(arg intel_cam)">
        <xacro:include filename="$(find armadillo2_gazebo)/macros/intel_cam.xacro" />
        <xacro:DepthCam name="intel_d435"
                        link="camera_link"
                        optical_frame="camera_depth_optical_frame"
                        horizontal_fov="1.592"
                        img_width="1280"
                        img_height="800"
                        img_format="B8G8R8"
                        clip_near="0.1"
                        clip_far="100"
                        update_rate="10.0"
                        image_topic="color/image_raw"
                        depth_topic="depth/color/image_raw"
                        cloud_topic="depth_registered/points"
                        info_topic="color/camera_info"
                        depth_info_topic="depth/camera_info"
                        pointcloud_cuttoff="0.2" />
    </xacro:if>

    <!-- kinect 2 -->
    <xacro:if value="$(arg kinect2)">
        <xacro:property name="kinect2_hz" value="$(arg kinect2_hz)"/>
        <xacro:property name="kinect2_hd" value="$(arg kinect2_hd)"/>
        <xacro:property name="kinect2_qhd" value="$(arg kinect2_qhd)"/>
        <xacro:property name="kinect2_sd" value="$(arg kinect2_sd)"/>
        <xacro:include filename="$(find armadillo2_gazebo)/macros/kinect2.xacro" />
    </xacro:if>

    <!-- Sonars -->
    <xacro:if value="$(arg urf)">
        <xacro:include filename="$(find armadillo2_gazebo)/macros/urf.xacro" />
        <xacro:urf name="front" link="front_urf_link" topic="urf/front" fov="${10.0*M_PI/180.0}" min="0.3" max="5.0" update_rate="10"/>
    </xacro:if>


    <!-- hokuyo  utm-30lx -->
    <xacro:if value="$(arg lidar)">
        <xacro:include filename="$(find armadillo2_gazebo)/macros/lidar.xacro" />
        <xacro:lidar name="lidar"
                     link="laser_link"
                     topic="scan"
                     update_rate="10"
                     samples="720"
                     resolution="1"
                     min_angle="-1.5707"
                     max_angle="1.5707"
                     range_min="0.1"
                     range_max="30.0"
                     range_resolution="0.01" />
    </xacro:if>
    <!-- sim ODOM -->
    <!-- <gazebo>
      <plugin name="sim_odom" filename="libgazebo_ros_p3d.so">
        <frameName>map</frameName>
        <bodyName>base_footprint</bodyName>
        <topicName>sim_odom</topicName>
        <updateRate>10.0</updateRate>
      </plugin>
    </gazebo> -->


    <!-- GPS   -->
    <xacro:if value="$(arg gps)">
        <xacro:include filename="$(find armadillo2_gazebo)/macros/gps.xacro" />
        <xacro:gps link="base_link" hz="5" topic="GPS" lat="31.262218" long="34.80146100" alt="298"/>
    </xacro:if>

    <!-- IMU   -->
    <xacro:if value="$(arg imu)">
        <xacro:include filename="$(find armadillo2_gazebo)/macros/imu.xacro" />
        <xacro:imu link="base_link" hz="50" topic="IMU" />
    </xacro:if>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <!-- <legacyModeNS>true</legacyModeNS> -->
            <robotSimType>gazebo_ros_control/Armadillo2RobotHWSim</robotSimType>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
            <arm>
                <arm_name>arm</arm_name>
                <palm_link>wrist_link</palm_link>
                <gripper_link>left_finger_link</gripper_link>
                <gripper_link>right_finger_link</gripper_link>
            </arm>
            <forces_angle_tolerance>100</forces_angle_tolerance>
            <update_rate>50</update_rate>
            <grip_count_threshold>4</grip_count_threshold>
            <max_grip_count>8</max_grip_count>
            <release_tolerance>0.005</release_tolerance>
            <disable_collisions_on_attach>false</disable_collisions_on_attach>
            <contact_topic>__default_topic__</contact_topic>
        </plugin>
    </gazebo>

    <transmission name="left_wheel_joint_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="left_wheel_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="left_wheel_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="right_wheel_joint_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_wheel_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="right_wheel_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="torso_joint_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="torso_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="torso_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="head_pan_joint_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="head_pan_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="head_pan_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="head_tilt_joint_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="head_tilt_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="head_tilt_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <xacro:property name="mu1" value="2.0" />
    <xacro:property name="mu2" value="2.0" />


     <gazebo reference="left_finger_joint">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>1</provideFeedback>
    </gazebo>

    <gazebo reference="right_finger_joint">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>1</provideFeedback>
    </gazebo>

    <gazebo reference="right_finger_link">
        <!-- kp and kd for rubber -->
        <!-- <kp>1000000.0</kp>
        <kd>100.0</kd> -->
        <mu1>1000</mu1>
        <mu2>1000</mu2>
        <fdir1>1 0 0</fdir1>
        <maxVel>1.0</maxVel>
        <minDepth>0.001</minDepth>
    </gazebo>

    <gazebo reference="left_finger_link">
        <!-- kp and kd for rubber -->
        <!-- <kp>1000000.0</kp>
        <kd>100.0</kd> -->
        <mu1>1000</mu1>
        <mu2>1000</mu2>
        <fdir1>1 0 0</fdir1>
        <maxVel>1.0</maxVel>
        <minDepth>0.001</minDepth>
    </gazebo>

    <gazebo reference="left_wheel_link">
        <!-- kp and kd for rubber -->
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <mu1>${mu1}</mu1>
        <mu2>${mu2}</mu2>
        <fdir1>1 0 0</fdir1>
        <maxVel>1.0</maxVel>
        <minDepth>0.001</minDepth>
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="right_wheel_link">
        <!-- kp and kd for rubber -->
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <mu1>${mu1}</mu1>
        <mu2>${mu2}</mu2>
        <fdir1>1 0 0</fdir1>
        <maxVel>1.0</maxVel>
        <minDepth>0.001</minDepth>
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="caster_left_link">
        <!-- kp and kd for rubber -->
        <kp>1000000.0</kp>
        <kd>1000.0</kd>
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
        <fdir1>1 0 0</fdir1>
        <maxVel>1.0</maxVel>
        <minDepth>0.001</minDepth>
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="caster_right_link">
    <!-- kp and kd for rubber -->
        <kp>1000000.0</kp>
        <kd>1000.0</kd>
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
        <fdir1>1 0 0</fdir1>
        <maxVel>1.0</maxVel>
        <minDepth>0.001</minDepth>
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="base_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <transmission name="rotation1_joint_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="rotation1_joint">
            <hardwareInterface>hardware_interface/PosVelJointInterface</hardwareInterface>
        </joint>
        <actuator name="rotation1_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="shoulder1_joint_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="shoulder1_joint">
            <hardwareInterface>hardware_interface/PosVelJointInterface</hardwareInterface>
        </joint>
        <actuator name="shoulder1_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="shoulder2_joint_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="shoulder2_joint">
            <hardwareInterface>hardware_interface/PosVelJointInterface</hardwareInterface>
        </joint>
        <actuator name="shoulder2_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="rotation2_joint_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="rotation2_joint">
            <hardwareInterface>hardware_interface/PosVelJointInterface</hardwareInterface>
        </joint>
        <actuator name="rotation2_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="shoulder3_joint_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="shoulder3_joint">
            <hardwareInterface>hardware_interface/PosVelJointInterface</hardwareInterface>
        </joint>
        <actuator name="shoulder3_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="wrist_joint_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="wrist_joint">
            <hardwareInterface>hardware_interface/PosVelJointInterface</hardwareInterface>
        </joint>
        <actuator name="wrist_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="left_finger_joint_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="left_finger_joint">
            <hardwareInterface>hardware_interface/PosVelJointInterface</hardwareInterface>
        </joint>
        <actuator name="left_finger_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="right_finger_joint_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_finger_joint">
            <hardwareInterface>hardware_interface/PosVelJointInterface</hardwareInterface>
        </joint>
        <actuator name="right_finger_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <!-- Link1 -->
  <gazebo reference="rotation1_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- Link2 -->
  <gazebo reference="shoulder1_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- Link3 -->
  <gazebo reference="shoulder2_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- Link4 -->
  <gazebo reference="rotation2_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- Link5 -->
  <gazebo reference="shoulder3_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- Link6 -->
  <gazebo reference="wrist_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- End Link -->
  <gazebo reference="right_finger_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- End Link -->
  <gazebo reference="left_finger_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

</robot>
