<?xml version="1.0"?>


<robot
  name="intel_d435">
<!-- camera depth joints and links -->
    <joint name="intel_d435_depth_joint" type="fixed">
      <origin xyz="0 -0.0122 0" rpy="0 0 0"/>
      <parent link="intel_d435_link"/>
      <child link="intel_d435_depth_frame" />
    </joint>
    
    <link name="intel_d435_depth_frame"/>

    <joint name="intel_d435_depth_optical_joint" type="fixed">
      <origin xyz="0.0125 0 0.0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="intel_d435_depth_frame" />
      <child link="intel_d435_depth_optical_frame" />
    </joint>
    
    <link name="intel_d435_depth_optical_frame"/>
      
    <!-- intel_d435 left IR joints and links -->
    <joint name="intel_d435_left_ir_joint" type="fixed">
      <origin xyz="0 -0.0322 0" rpy="0 0 0" />
      <parent link="intel_d435_link" />
      <child link="intel_d435_left_ir_frame" />
    </joint>
    
    <link name="intel_d435_left_ir_frame"/>

    <joint name="intel_d435_left_ir_optical_joint" type="fixed">
      <origin xyz="0.0125 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="intel_d435_left_ir_frame" />
      <child link="intel_d435_left_ir_optical_frame" />
    </joint>
    
    <link name="intel_d435_left_ir_optical_frame"/>

    <!-- intel_d435 right IR joints and links -->
    <joint name="intel_d435_right_ir_joint" type="fixed">
      <origin xyz="0 0.0178 0" rpy="0 0 0" />
      <parent link="intel_d435_link" />
      <child link="intel_d435_right_ir_frame" />
    </joint>
    
    <link name="intel_d435_right_ir_frame"/>

    <joint name="intel_d435_right_ir_optical_joint" type="fixed">
      <origin xyz="0.0125 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="intel_d435_right_ir_frame" />
      <child link="intel_d435_right_ir_optical_frame" />
    </joint>
    
    <link name="intel_d435_right_ir_optical_frame"/>

    <!-- intel_d435 fisheye joints and links -->
    <joint name="intel_d435_fisheye_joint" type="fixed">
      <origin xyz="0 0.0322 0" rpy="0 0 0" />
      <parent link="intel_d435_link" />
      <child link="intel_d435_fisheye_frame" />
    </joint>
    
    <link name="intel_d435_fisheye_frame"/>

    <joint name="intel_d435_fisheye_optical_joint" type="fixed">
      <origin xyz="0.0125 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="intel_d435_fisheye_frame" />
      <child link="intel_d435_fisheye_optical_frame" />
    </joint>
    <link name="intel_d435_fisheye_optical_frame"/>
</robot>