<?xml version="1.0"?>


 <!--EXAMPLE

   roslaunch armadillo2 armadillo2.launch sim:=true
   
   roslaunch armadillo2_demos move_pan_tilt.launch random_angle:=true 
   or
   roslaunch armadillo2_demos move_pan_tilt.launch pan_angle:=25 tilt_angle:=10
 
 -->


<launch>

    <arg name="pan_angle" default="0"/> <!-- degrees -->
    <arg name="tilt_angle" default="0"/> <!-- degrees -->
    <arg name="random_angle" default="false"/> <!-- if true, pan tilt angles will be generated randomly -->
    <arg name="timeout" default="5"/> <!--execute until timeout (seconds). if timeout=0 it will execute forever-->

    <node name="pan_tilt_center_node" output="screen" pkg="pan_tilt_mover" type="pan_tilt_mover_node">
        <param name="pan_angle" value="$(arg pan_angle)" />
        <param name="tilt_angle" value="$(arg tilt_angle)" />
        <param name="timeout" value="$(arg timeout)" />
        <param name="random" value="$(arg random_angle)" />
    </node>

</launch>
