<?xml version="1.0"?>

<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find armadillo2_control)/config/armadillo2_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner"
    pkg="controller_manager"
    type="spawner" respawn="false"
    output="screen"
    args="robot_state_controller mobile_base_controller torso_position_controller pan_tilt_trajectory_controller arm_trajectory_controller gripper_controller"
  />
  
</launch>
