<?xml version="1.0"?>

<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find armadillo2_control)/config/armadillo2_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner"
    pkg="controller_manager"
    type="spawner" respawn="false"
    output="screen"
    args="robot_state_controller
	  mobile_base_controller
	  torso_controller
	  pan_tilt_trajectory_controller
          arm_trajectory_controller 
          gripper_controller"
  />
<!-- ns="/armadillo2"-->

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
   <!--  <param name="robot_description" command="$(find xacro)/xacro.py '$(find armadillo2_description)/urdf/armadillo2.xacro'" />
   <remap from="/joint_states" to="/armadillo2/joint_states" />-->
  </node>
  
</launch>
