<?xml version="1.0"?>

<launch>	  
	<include file="$(find gazebo_ros)/launch/empty_world.launch">	    
		<arg name="world_name" value="$(find armadillo2_gazebo)/worlds/default.world"/>	    
		<arg name="gui" value="true"/>	  
	</include>
        
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find armadillo2_description)/urdf/armadillo2_gazebo.xacro'" />
        <node name="armadillo2_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model armadillo2" />
                
</launch>