<?xml version="1.0" encoding="UTF-8"?>

<!-- armadillo2 top-level launch -->

<launch>
    
    <!--common settings-->
    <arg name="sim" default="false" doc="execute armadillo2 inside gazebo sim"/>
    <arg name="moveit" default="false"/>
    <arg name="softkinetic" default="false"/>
    <arg name="kinect" default="false"/>
    <arg name="lidar" default="true"/>
    <arg name="gmapping" default="true"/>

    
    <!--load static tf-->
    <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 20" />
    <!--<node pkg="tf" type="static_transform_publisher" name="odom_base_broadcaster" args="0 0 0 0 0 0 /odom /base_footprint 20" />-->
    
    <!--load simulation stuff-->
    <group if="$(arg sim)">
        
        <include file="$(find armadillo2_gazebo)/launch/default_world.launch" />
        
        <include file="$(find armadillo2_control)/launch/armadillo2_gazebo_controllers.launch" />
        
    </group>
    
    <!--load hardware stuff-->
    <group unless="$(arg sim)">
        
        <include file="$(find armadillo2_hw)/launch/armadillo2_hw.launch" />
        
        <group if="$(arg softkinetic)">
            <include file="$(find softkinetic_camera)/launch/softkinetic_camera_ds325.launch" />
        </group>
    
        <group if="$(arg kinect)">
            <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" />
        </group>
        
        <include file="$(find armadillo2_control)/launch/armadillo2_hw_controllers.launch" />
        
    </group>
    
    <group if="$(arg lidar)">
        <include file="$(find lidar_urg_node)/launch/lidar.launch" />
    </group>
    
    <group if="$(arg gmapping)">
        <include file="$(find armadillo2_navigation)/launch/gmapping.launch" />
    </group>
    
    <group if="$(arg moveit)">
        <include file="$(find armadillo2_moveit_config)/launch/move_group.launch" />
    </group>
    
    
</launch>